.canvas-stage {
  /* display: block;
  width: 100vw;
  height: 100vh; */

  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.canvas-stage .konvajs-content {
  display: inline-block;
}

.btn-group {
  display: block;
  position: absolute;
  z-index: 999;
}

.btn-group .btn-record {
  display: block;
}
